{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
<section class="legal py-5">
    <div class="container">
        <div class="text-start">
            <header>
                <h2 class="title-legal mb-4">
                    Mentions Légales
                </h2>
            </header>
            <div class="content-legal">
                <div class="mb-3">
                    <strong>Nation Sound</strong>
                </div>

                <div class="mb-3">
                    <strong>Adresse :</strong> 100 rue du Buyat, 69120 Lyon
                </div>

                <div class="mb-3">
                    <strong>Email :</strong> Contact@nationsound.com
                </div>

                <div class="mb-3">
                    <strong>Responsable de la publication :</strong> Théo Battut
                </div>

                <div class="mb-3">
                    <strong>Créateur du site :</strong> Théo Battut
                </div>

                <div class="mb-3">
                    <strong>Hébergement :</strong> Hostinger
                    <br>
                    Dont le siège social est situé à : HOSTINGER INTERNATIONAL LTP, 61 Lordou Vironos Street, 6023 Larnaca, Chypre
                </div>
            </div>
        </div>
    </div>
</section>
        
{% endblock %}

