{% extends 'base.html.twig' %}

{% block title %}Politiques de confidentialités et conditions d'utilisations
{% endblock %}

{% block body %}
	<section class="legal py-5">
    <div class="container">
        <div class="text-start">
            <header>
                <h2 class="title-legal mb-4">
                    Politiques de confidentialité et conditions d'utilisation
                </h2>
            </header>
            <div class="content-legal">
                <div class="mb-3">
                    <strong>Définitions</strong>
                    <br><br>
                </div>

                <div class="mb-3">
                    <strong>1. Préambule</strong>
                    <p>
                        Les présentes Conditions Générales de Vente (CGV) régissent l'ensemble des ventes conclues entre
                        <strong>Nation Sound</strong>, ci-après dénommée Nation Sound, et toute personne physique ou morale effectuant un achat via le site
                        <strong>Festival Nation Sound</strong>. Le fait de passer commande implique l'acceptation sans réserve des présentes CGV.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>2. Objet</strong>
                    <p>
                        Les présentes CGV ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne des produits ou services proposés sur le Site par
                        <strong>Nation Sound</strong>.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>3. Identification du vendeur</strong>
                    <p>
                        Le Vendeur est :
                        <ul>
                            <li>Nom de l'entreprise : <strong>Nation Sound</strong></li>
                            <li>Forme juridique : <strong>SAS</strong></li>
                            <li>Capital social : <strong>1 000 000 euros</strong></li>
                            <li>Numéro SIRET : <strong>2563148596</strong></li>
                            <li>Adresse : <strong>100 rue du Buyat, 69120 Lyon</strong></li>
                            <li>Téléphone : <strong>0645625896</strong></li>
                            <li>Email : <strong>Contact@nationsound.com</strong></li>
                        </ul>
                    </p>
                </div>

                <div class="mb-3">
                    <strong>4. Produits et services</strong>
                    <p>
                        Le Vendeur propose à la vente les produits suivants : <strong>Place de concerts</strong>. Les caractéristiques essentielles de chaque produit sont disponibles sur la page de chaque article sur le Site.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>5. Commandes</strong>
                    <p>
                        La commande est validée lorsque le Client a accepté les présentes CGV et validé son panier. La commande est confirmée par l'envoi d'un email de confirmation à l'adresse fournie par le Client. En cas de non-disponibilité d'un produit, le Client en sera informé et pourra soit annuler sa commande, soit choisir un autre produit.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>6. Prix</strong>
                    <p>
                        Les prix des produits sont indiqués en euros toutes taxes comprises (TTC), sauf indication contraire. <strong>Nation Sound</strong> se réserve le droit de modifier les prix à tout moment, mais les produits seront facturés au prix en vigueur au moment de la commande.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>7. Paiement</strong>
                    <p>
                        Conformément aux dispositions légales en vigueur, le Client dispose d’un délai de 14 jours à compter de la réception des produits pour exercer son droit de rétractation. Pour ce faire, le Client doit informer le Vendeur par email ou via le formulaire de contact du Site.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>8. Rétractation et retours</strong>
                    <p>
                        La commande est validée lorsque le Client a accepté les présentes CGV et validé son panier. La commande est confirmée par l'envoi d'un email de confirmation à l'adresse fournie par le Client. En cas de non-disponibilité d'un produit, le Client en sera informé et pourra soit annuler sa commande, soit choisir un autre produit.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>9. Propriété intellectuelle</strong>
                    <p>
                        Tous les éléments présents sur le Site (textes, images, logos, etc.) sont protégés par des droits de propriété intellectuelle. Toute reproduction ou utilisation sans autorisation préalable de <strong>Nation Sound</strong> est interdite.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>10. Protection des données personnelles</strong>
                    <p>
                        <strong>Nation Sound</strong> s'engage à respecter la confidentialité des données personnelles collectées et à les traiter conformément à la réglementation en vigueur (Règlement Général sur la Protection des Données - RGPD). Les données personnelles collectées sont utilisées uniquement pour la gestion des commandes et la relation client.
                    </p>
                </div>

                <div class="mb-3">
                    <strong>11. Loi applicable et litiges</strong>
                    <p>
                        Les présentes CGV sont soumises au droit français. En cas de litige, le Client peut recourir à une médiation ou saisir le tribunal compétent de Lyon.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "shared/_footer.html.twig" %}
{% endblock %}