{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
<div class="container pt-5">
<h1 class="text-center">Programmation</h1>
</div>
{% endblock %}
